<!DOCTYPE html>

<html>
	<head>
		<title>campaign donEATions</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://d3js.org/d3.v2.js" type="text/javascript" charset="utf-8"></script>			
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	
	</head>
	
	
	<body>
	 
	 <table>
	 	<tr>
	 		<td width="200" style="padding:20px;" valign="top">
	 			
	 <h1 class="title-box" style="background:#9ECAE1;color:white;"><a href="/" class="plain-link">campaign donEATions</a></h1>


	 <div class="title-box" style="background:#C6DBEF;" >
		Sneaky. Very sneaky. But I'll still tell you about ZIPs in {{state}} that donated the most to {{candidate}}. 
	 </div>
	 
		<hr>
		<div class="footnote">(Campaign contribution data from the Sunlight Foundation's <a class="simple-link" href="http://data.influenceexplorer.com/api/contributions/">TransparencyData</a> API, for Q4 2011 and slightly into Q1 2012, the most recent period for which 
		I could retrieve and analyze individual contributions. Restaurant information via Factual's <a class="simple-link" href="http://developer.factual.com/display/docs/Places+API">Places</a> and <a class="simple-link" href="http://developer.factual.com/display/docs/Places+API+-+Restaurants">Restaurants</a> APIs.)</div>

		</td>
		
		<td style="padding:20px;" valign="top">

	
	 {% if top_zips %}
	 	{% for z in range(0,3) %}
		 	{% if top_zips[z] %}
			 	<h2>{{ top_zips[z][0] }}</h2>
			 		{% if top_zips[z][1][0] == 1 %}
			 			<h3>{{ top_zips[z][1][0] }} contribution totalling ${{ '{:20,.2f}'.format(top_zips[z][1][1]).lstrip() }}</h3>
			 		{% else %}
			 			<h3>{{ top_zips[z][1][0] }} contributions totalling ${{ '{:20,.2f}'.format(top_zips[z][1][1]).lstrip() }}</h3>
			 		{% endif %}
			 	<table style="margin-bottom:20px;">
			 	<tr>
			 		<td>
				 	<img class="map" src = '{{ img_urls[z] }}'>
				 	</td>
				 	
				 	<td class = "{{ tables[z] }}">
			 		</td>
			 	</tr>
			 	</table>
			{% endif %}
	 	{% endfor %}
	 {% else %}
	 	<h2>No contribution data available</h2>
	 {% endif %}	
	 	
	 	
	 </td>
	 </table>
	 	
	 	<script type="text/javascript">

		var data = {{ rest_data|safe }};                        //Initialize empty array
		var tables = ['.table0', '.table1', '.table2']
		
		for (n=0;n<3;n++){

			var data_sub = data[n]
			
			svg1 = d3.select(tables[n]).append("svg");
			
			var h = 140
			var w = 400
			var bar_padding = 2
			
			svg1.attr("width", w)
				.attr("height", h);


			svg1.selectAll("rect")
				.data(data_sub)
				.enter()
				.append("rect")
				.attr("x", 0)
				.attr("y", function(d, i) {
					return i * (h / 6);
				})
				.attr("width", 0)
				.attr("height", h / 6 - bar_padding)
				.attr("fill", "#C6DBEF")
				.transition().delay(1000).duration(1400).attr("width", function(d){
					return d[1]*3;
				});
				
			svg1.selectAll("text")
				.data(data_sub)
				.enter()
				.append("text")
				.text(function(d){
					return d[0];
				})
				.attr("x", 4)
				.attr("y", function(d, i) {
					return i * (h / 6) + 19;
				})
				.attr("font-family", "Helvetica")
				.attr("fill", "#6BAED6")
				.attr("font-size", 19);
				
		};		
        </script>
	 	 	
	 
	</body>
</html>